main{
    background-color: var(--DarkBlue2);
}
.main-icons{
    padding-top: 9rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main-icons>div{
    color: var(--White);
    text-align: center;
}

@media (max-width: 750px) {
    .main-icons{
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-r: repeat(1, 1fr); */
    }
}

.main-advice{
    width: 100%;
    /* margin: ; */
    padding: 9rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--White);
    justify-items: center;
    align-items: center;

}
.main-advice-text>h2{
    font-size: 4rem;
}
.main-advice-text>p{
    font-size: 1.5rem;
}
.main-advice-text>div{
    display: flex;
    align-items: center;
}
.main-advice-text>div>a{
    font-size: 1.5rem;
    margin-right: 1rem;
}