/* ********FOOTER********* */

footer{
    height: 40rem;
    /* background-color: rgb(223, 122, 122); */
    background-color: var(--DarkBlue1);
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--White);
}
.footer-card{
    height: 3rem;
    /* background-color: cadetblue; */
    display: grid;
    grid-template-columns: 10% 90%;
}
.container-footer{
    height: 100%;
    /* background-color: antiquewhite; */
    width: 90%;
    /* display: grid; */
    /* grid-template-columns: 40% 20% 10% 10% 20%; */
    /* grid-template-rows: repeat(2, 1fr); */
}
.logo-footer{
    grid-column: 1/6;
}
.footer-options{
    display: grid;
    grid-template-columns: 30% 30% 10% 10% 20%;
}
.footer-socialnet{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
.footer-socialnet>svg{
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--White);
    border-radius: 100%;
    padding: 1rem;
}